/* ASPECT GENERAL */
[class*=-row-pair] [class*=-col-pair]
{
	background-color: dimgrey;
}

[class*=-row-pair] [class*=-col-impair]
{
	background-color: grey;
}

[class*=-row-impair] [class*=-col-pair]
{
	background-color: darkgrey;
}

[class*=-row-impair] [class*=-col-impair]
{
	background-color: silver;
}

/*[class*=col-]
{
	border: 1px solid blue;
}*/

/*EN-TETE*/
.en-tete
{
	text-align: center;
	background-color: lightblue;
}

.en-tete h1
{
	font-size: 600%;
	font-weight: bold;
}

/*MENU*/
.menu, .menu button
{
	background-color: silver;
	border-radius: 0px;
	border: 0px;
}

.menu button
{
	border-right: 2px solid black;
	border-bottom-left-radius: 8px;
}

.menu
{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.menu [class*=col-]
{
	padding: 0px;
	border: 1px solid black;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

/*LISTE DES STAGES*/

.liste-stages-titres
{
	background-color: whitesmoke;
	border: 1px solid black;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.liste-stages-titres p
{
	font-size: 120%;
}

.liste-stages-titre
{
	border-left: 1px solid darkslategray;
}

.liste-stages-titres .col-2 p
{
	text-align: center;
}

.liste-stages
{
	border: 1px solid black;
}

.liste-stages .col-2 p
{
	text-align: center;
}

.liste-stages a, .liste-stages p
{
	color: black;
	vertical-align: middle;
}

.liste-stages a:hover
{
	text-decoration: none;
}


/*PAGE DE STAGES*/
.elements-du-stage [class*=col-]
{
	/* border: 1px solid silver; */
}