/*EN-TETE*/
.en-tete
{
	text-align: center;
	background-color: lightblue;
}

.en-tete h1
{
	font-size: 600%;
	font-weight: bold;
}

/*MENU*/
.menu, .menu button
{
	background-color: silver;
	border-radius: 0px;
	border: 0px;
}

.menu button
{
	border-right: 2px solid black;
	border-bottom-left-radius: 8px;
}

.menu
{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.menu [class*=col-]
{
	padding: 0px;
	border: 1px solid black;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

/*LISTE DES STAGES*/

.liste-stages-titres
{
	background-color: silver;
	border: 1px solid black;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.liste-stages-titres [class*=col-]
{
	/*border-left: 1px solid black;
	border-right: 1px solid black;*/
}

.liste-stages-titres .col-md-2
{
	text-align: center;
}

.liste-stages
{
	border: 1px solid black;
}

.liste-stages a, .liste-stages p
{
	color: black;
	vertical-align: middle;
}

.liste-stages a:hover
{
	text-decoration: none;
}

.stage-row-pair .stage-col-pair
{
	background-color: dimgrey;
}

.stage-row-pair .stage-col-impair
{
	background-color: grey;
}

.stage-row-impair .stage-col-pair
{
	background-color: darkgrey;
}

.stage-row-impair .stage-col-impair
{
	background-color: silver;
}

/*PAGE DE STAGES*/
.elements-du-stage [class*=col-]
{
	border: 1px solid silver;
}