{% extends 'base.html.twig' %}

{% block contenu %}
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-12">
				<h2>
					Liste des formations
				</h2>
			</div>
		</div>
		<div class="row liste-stages-titres">
			<div class="col-6">
				<p>Nom</p>
			</div>
		</div>
		<div class="row liste-stages">
			<div class="col-md-12">

				{% set numero = 'impair' %}
				{% for formation in listeFormations if formation.stages | length > 0 %}
					<a href="/formations/{{ formation.id }}">
						<div class="row formation-row-{{ numero }}">
						<div class="col-12 formation-col-impair">
							<p>{{ formation.type }}</p>
						</div>
					</div>
					</a>

					{% if numero == 'impair' %}
						{% set numero = 'pair' %}
					{% else %}
						{% set numero = 'impair' %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-1">
	</div>
</div>
{% endblock %}