{% extends 'base.html.twig' %}

{% block contenu %}
<h1>Bienvenue sur la page d'accueil de Prostages</h1>

<ul>
	<li>
		<a href="{{path('stages', {id:1})}}">Stage 1</a>
	</li>
	<li>
		<a href="{{path('stages', {id:2})}}">Stage 2</a>
	</li>
	<li>
		<a href="{{path('stages', {id:5})}}">Stage 5</a>
	</li>
</ul>
{% endblock %}