<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStage{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	{% block menu %}
    		<a href="{{path('prostage')}}">Accueil</a> <a href="{{path('formations')}}">Formations</a> <a href="{{path('entreprises')}}">Entreprises</a>
    	{% endblock %}
        {% block contenu %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
